* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* margin: 0;
  padding: 0; */
}

html,
body {
  /* min-height: 100vh;
  line-height: 1.5; */
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* header {
  padding-top: 5em;
  padding-bottom: 3.5em;
  border-bottom: 10px solid hsl(0deg 0% 20%);
}

.intro-chunk {
  padding: 1em;
}

.title {
  margin-bottom: 1.3em;
}

.intro-chunk p {
  margin-bottom: 1em;
  max-width: 350px;
}

.intro-chunk p:last-child {
  margin-bottom: 0;
  max-width: 300px;
}

.intro-chunk strong {
  color: green;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding-block: 3.5em;
  background-color: hsl(0deg 0% 50%);
}

.card {
  background-color: hsl(0 100% 100%);
  border-bottom: 10px solid hsl(0deg 0% 20%);
  padding: 1.5em 1em;
}

.indented-heading {
  margin-bottom: 1em;
  background-color: hsl(40deg 100% 50%);
  width: fit-content;
  padding: 0.5em 1em;
  margin-top: -0.5em;
  margin-left: -1em;
  border-bottom: 10px solid hsl(40deg 100% 38%);
}

.card p {
  margin-bottom: 1.5em;
}

.card p:last-child {
  margin-bottom: 0;
} */

h1,
h2,
h3 {
  margin: 0;
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.max-width-wrapper {
  max-width: 770px;
  margin: 0 auto;
  padding: 0 32px;
}

.intro-chunk {
  padding: 96px 0 48px;
  max-width: 400px;
}

.intro-chunk strong {
  color: hsl(160deg 100% 30%);
}

.intro-chunk .title {
  margin-bottom: 32px;
}

main {
  background-color: hsl(0deg 0% 60%);
  padding: 96px 0;
  border-top: 8px solid hsl(0deg 0% 40%);
}

.card {
  background-color: white;
  padding: 32px;
  margin-left: -32px;
  margin-right: -32px;
  border-bottom: 8px solid hsl(0deg 0% 40%);
}

.indented-heading {
  background-color: hsl(45deg 100% 50%);
  margin-left: -50px;
  margin-top: -24px;
  padding: 16px 50px;
  width: fit-content;
  border-bottom: 8px solid hsl(45deg 100% 40%);
}

.card p:last-child {
  margin-bottom: 0;
}
